body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.todo {
    background-color: grey;
}

.in-progress {
    background-color: yellow;
}

.done {
    background-color: green;
}

#loginForm {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 8px;
}

#logoutButton {
    display: none;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#logoutButton:hover {
    opacity: 0.8;
}